{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar  %}
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </nav>
  </div>
{% endblock  %}

{% block page_content %}
	<div class="container"> 
		<div class="page-header ml-5 mt-3 mr-5"> 
  			<div class="page-header">
      			<h1>Login Page</h1>
      			{{ wtf.quick_form(form) }}
      			<small>Forget Password?<a class=""ml-2 href="{{ url_for('auth.reset_password_link') }}"> Click here</a> </small>
      			<p class="mt-2">New user?<a href="{{ url_for('auth.register') }}">   Click here to register </a> </p>
    		</div>	
  		</div>
  	</div>
{% endblock %}

