{% extends "base.html" %}


{% block content %}

<div class="container">
  
  <div class="content-section">
    <form method="POST" action="">

      {{ form.hidden_tag() }}  <!--form.csrf_token: can also be use --> 

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Change Password</legend>
          <div class="form-group">
            {{ form.old_mail.label(class="form-control-label") }}   <!-- This represent our label in html-->
            
            {% if form.old_mail.errors %}
              {{ form.old_mail(class= "form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback" >
                {% for error in form.old_mail.errors %}
                  <span> {{error}} </span>
                {% endfor %}
              </div>  
            {% else %}
              {{ form.old_mail(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.new_mail.label(class="form-control-label") }}   <!-- This represent our label in html-->
            
            {% if form.new_mail.errors %}
              {{ form.new_mail(class= "form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback" >
                {% for error in form.new_mail.errors %}
                  <span> {{error}} </span>
                {% endfor %}
              </div>  
            {% else %}
              {{ form.new_mail(class="form-control form-control-lg") }}
            {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}         <!-- This represent our label in html-->
      </div>
    </form>
  </div>
</div>
   
{% endblock content %}
