
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

 {% block navbar  %}
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">Home</a>
    {% if current_user.is_authenticated %}
    <li><a class="btn btn-secondary mr-3" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
    {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <li><a class="btn btn-secondary mr-3" href="{{ url_for('auth.logout') }} ">Sign Out</a></li> 
              <li><a class="btn btn-secondary mr-3" href="{{ url_for('auth.change_password') }}">Change password</a></li>
            {% else %}
              <a class="btn btn-secondary mr-3" href="{{ url_for('auth.login') }}">Sign In</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock  %}

{% block page_content %}
	<div class="container"> 
		<div class="page-header ml-5 mt-3 mr-5"> 
      <h1> Hello
      {% if current_user.is_authenticated %}
        {{ current_user.username}}
      {% else %}
        Stranger
      {% endif %} </h1>
  		</div>
  	</div>
{% endblock %}



