
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

 {% block navbar  %}
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">Home</a>
    {% if current_user.is_authenticated %}
    <li><a class="btn btn-secondary mr-3" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
    {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
              <li><a class="btn btn-secondary mr-3" href="{{ url_for('auth.logout') }} ">Sign Out</a></li> 
              <li><a class="btn btn-secondary mr-3" href="{{ url_for('auth.change_password') }}">Change password</a></li>
            {% else %}
              <a class="btn btn-secondary mr-3" href="{{ url_for('auth.login') }}">Sign In</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock  %}

{% block page_content %}
	<div class="container"> 
    <h1>{{ current_user.username | capitalize }}</h1>
		<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}  
      {{ wtf.quick_form(form) }}
    {% endif %}
    </div>
    {% include "_post.html" %}
    <div class="pagination container">
       {{ macros.pagination_widget(pagination, 'main.index') }} 
    </div>
  </div>
{% endblock %}






