
{% extends "base.html" %}
{% import "_macros.html" as macros %}

 {% block navbar  %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <div class="navbar-nav">
            {% if current_user.is_admistrator() %}
              <li><a class="btn btn-secondary mr-3" href="{{ url_for('main.edit_prof_admin') }}">Admin edit profile</a></li>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock  %}

{% block page_content %} 

  <div class="container"> 
		<div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
        <div class="profile-header"> 
  			<h1>{{ user.username }}</h1>
  			{% if user.name or user.location %}
  			<p> 
  				{% if user.name %}
  					{{ user.name }}
  				{% endif %}
  				{% if user.location %}
  					From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
  				{% endif %}
  			</p>
  			{% endif %}

  			{% if current_user.is_admistrator() %}
  				<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  			{% endif %}	

  			{% if user.about_me %}
  				<p> {{ user.about_me }} </p>
  			{% endif %}

  			<p>
  				Member since {{ moment(user.member_since).format('L') }}.
  				Last seen {{ moment(user.last_seen).fromNow() }}.
  			</p>
  		</div>
      {% if user == current_user %}
      <a class="btn btn-secondary mr-3" href="{{ url_for('main.edit_profile') }}">Edit profile</a>
      {% endif %}

      <h3> Post by {{ user.username }} </h3>

    </div>
   {% include "_post.html" %}
   <div class="pagination container">
       {{ macros.pagination_widget(pagination, 'main.index') }} 
    </div>
</div>
{% endblock %}
